body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 408px;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input {
  height: 40px;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  font-family: inherit;
}

.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 12px;
  width: 360px;
  height: 40px;
  font-size: 16px;
  font-family: inherit;
  resize: none;
}

.feedback-form button {
  align-self: flex-start;
  margin-left: 24px;
  margin-top: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
